<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="">
      </div>
    </div>
    <div class="row">
      <div class>
        <p>I'm Bryan Henning, a fire protection and mechanical ventilation specialist with over 10 years of experience. 
		I provide expert solutions to ensure safety, efficiency, and compliance in residential, commercial, and industrial buildings. 
		I help clients meet the highest industry standards. </p>
      </div>
      <div class="col-lg-4">
        <p>
		
		</p>
      </div>

    </div>
  </div>
</section>
